 <div *ngIf="article">

  <div id="navigation" class="div_l">
    <span id="tocHeader">Contents</span>

    <ul>
      <li *ngFor="let section of article['sections']['sortedSectionNumbers'];"
          [class.selected]="section === selectedSection"
          (click)="onSelect(section)"
          class="depth{{article['sections']['sectionMap'][section]['depth']}}">

        <a href="#{{section}}" innerHTML="{{section}} {{article['sections']['sectionMap'][section]['name']}}"></a>
      </li>
    </ul>
  </div>
</div>

<div class="div_r">
  <h1>{{article['title']}}</h1>
  <a href="https://en.wikipedia.org/wiki/{{article['title']}}" class="exLink" rel="nofollow" target="_blank">
    <span id="originalLink">
      See on Wikipedia
    </span>
  </a>

  <hr>

  <ul>
    <li *ngFor="let section of article['sections']['sortedSectionNumbers'];">
      <span id="{{section}}" class="anchor"></span>
      <h2 *ngIf="section !== '0'" class="depth{{article['sections']['sectionMap'][section]['depth']}}" innerHTML="{{article['sections']['sectionMap'][section]['name']}}"></h2>

      <p innerHTML="{{article['sections']['sectionMap'][section]['displayedContent']}}"></p>

    </li>
  </ul>

  <div *ngIf="selectedSection">
   <!-- <p>parrafo{{article["sections"]["sectionMap"][selectedSection]["content"] }}</p>-->

  </div>
</div>


<style>
  .div_l {
    float: left;
    color: #434544;
    width: 30%;
  }

  .div_r {
    float: right;
    color: #676457;
    width: 70%;
    height: 100%;
    overflow-y: scroll;
  }



</style>

