<div *ngIf="article">

  <div id="navigation" class="div_l">
    <p>Title: {{article['title']}}</p>

    <p>Artículo original de Wikipedia: <a href="https://en.wikipedia.org/wiki/{{article['title']}}">{{article['title']}}</a></p>

    <ul>
      <li *ngFor="let section of article['sections']['sortedSectionNumbers'];"
          [class.selected]="section === selectedSection"
          (click)="onSelect(section)">

        <span>{{section}}  -</span><a href="#{{section}}">{{article['sections']['sectionMap'][section]['name']}}</a>
      </li>
    </ul>
  </div>
</div>

<div class="div_r">
  <li *ngFor="let section of article['sections']['sortedSectionNumbers'];">
    <a name="{{article['sections']['sectionMap'][section]['name']}}">
      <h2>{{article['sections']['sectionMap'][section]['name']}}</h2>
    </a>
    <p innerHTML="{{article['sections']['sectionMap'][section]['displayedContent']}}">
      </p>

  </li>

  <div *ngIf="selectedSection">
   <!-- <p>parrafo{{article["sections"]["sectionMap"][selectedSection]["content"] }}</p>-->

  </div>
</div>


<style>
  .div_l {
    float: left;
    color: #434544;
    width: 30%;
  }

  .div_r {
    float: right;
    color: #676457;
    width: 70%;
    height: 100%;
    overflow-y: scroll;
  }



</style>

