body {
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

hr {
  margin: 0;
  margin-bottom: 10px;
}

h1 { /* Título del artículo */
  display: inline-block;
  margin-bottom: 0px;
  font-family: 'Cambria', 'Times', serif;
  color: #323232;
}

h2 {
  margin-bottom: 0px;
  color: #323232;
}

h2.depth2 { /* Sección principal (1) */
  padding-bottom: 3px;
  font-family: 'Cambria', 'Times', serif;
  font-size: 24px;
  border-bottom: 1px solid #AAA;
}

h2.depth3 {/* Subsección (1.1)*/
  font-size: 16pt;
}

h2.depth4 {/* Sub-subsección (1.1.1) */
  margin-bottom: -5px;
  font-family: sans-serif;
  font-size: 12pt;
  font-weight: bold;
}

p {
  font-family: sans-serif;
  font-size: 11pt;
  color: #545454;
}

a {
  text-decoration: none;
  color: #2A5DB0;
}

ul {
  padding-left: 0;
}

#searchResults {
  position: relative;
  top: 50px;
  margin: auto;
  width: 50%;
}

.searchResult {
  display: block;
  margin-bottom: 10px;
  text-align: justify;
  font-family: sans-serif;
  font-size: 11pt;
}

.link {
  display: block;
  font-size: 12pt;
}


#header {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;

  background-color: #f6f6f6;
  border-bottom: 1px solid #AAA;

  text-align: center;
}

#logo {
  display: inline-block;

  font-family: Hoefler Text, Baskerville Old Face, Garamond, Times New Roman, serif;
  font-size: 22pt;
}

input {
  font-family: sans-serif;
  font-size: 12pt;
}

/* TODO asignar una ID */
input[type="text"] {
  display: inline-block;
  height: 30px;
}

/* TODO asignar una ID */
input[type="submit"] {
  display: inline-block;
  height: 38px;
}

#tocHeader {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

#navigation {
  position: fixed;
  top: 50px;
  bottom: 0px;

  width: 25%;
  overflow-y: auto;

  border: 1px solid #CCC;
  background-color: #EEE;
  box-shadow: -3px 0 3px -3px #333;
}

#navigation ul {
  padding-left: 20px;
}

#navigation li {
  font-family: sans-serif;
  font-size: 10.5pt;
}

#navigation li a {
  text-decoration: none;
}

li.depth2 { padding-left: 0; }
li.depth3 { padding-left: 15px; }
li.depth4 { padding-left: 30px; }
li.depth5 { padding-left: 45px; }
li.depth6 { padding-left: 45px; }
li.depth7 { padding-left: 45px; }
li.depth8 { padding-left: 45px; }

#originalLink {
  display: inline-block;
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 11pt;
}
a #originalLink {
  text-decoration: none;
}

.exLink {
  width: 10px;
  height: 10px;
  padding-right: 13px;
  background-image: url(data:image/gif;base64,R0lGODlhCgAKAIABAGNjY////yH5BAEAAAEALAAAAAAKAAoAAAIUjA8Jx+rmFkqBQltnY7BzKW1VZBUAOw==);
  background-position: center right;
  background-repeat: no-repeat;
}

.div_r {
  float: none !important; /* TODO quitar estilo float inline */
  position: relative;
  top: 50px;
  left: 25%;
  width: 74% !important; /* TODO quitar estilo inline */
  padding-left: 20px;
  padding-right: 20px;
}

li {
  list-style: none;
}

li > a {
  display: inline-block;
  line-height: 24px;
}

/* Fix */
.anchor {
    display: block;
    position: relative;
    top: -60px;
}


.suggestions{
  border:solid 1px #f1f1f1;
  position:absolute;
  width:600px;
  background: white;
}

.suggestions ul{
  padding: 0px;
  margin: 0px;
}

.container{
  width:600px;
  margin-left:10px;
  margin-top:10px;
}
.suggestions ul li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.suggestions ul li a{
  padding:5px;
  display: block;
  text-decoration: none;
  color:#7E7E7E;
}

.suggestions ul li a:hover{
  background-color: #f1f1f1;
}
